.s01 {
	// min-height: 50vh;
	// display: -ms-flexbox;
	// display: flex;
    // background-repeat: no-repeat;
	// -ms-flex-pack: center;
	// justify-content: center;
	// -ms-flex-align: center;
	// align-items: center;
	// font-family: 'Poppins', sans-serif;
	// background:linear-gradient( rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20) ), url("../../public/images/img-bg.jpg");
	// background-size: cover;
	// position: relative;
	// padding: 15px;

    background:linear-gradient( rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20) ), url("../../public/images/img-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 2rem;
	position: relative;
	form {
		width: 100%;
		max-width: 1290px;
        fieldset{
            border:none;
            legend {
                font-size: 30px;
                line-height: 40px;
                font-weight:800;
                color: #fff;
                margin-bottom: 60px;
                border: none;
                text-align: center;
            }
        }


		
		.inner-form {
			
			padding: 50px 47px;
			display: -ms-flexbox;
			display: flex;
			width: 100%;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-ms-flex-align: center;
			align-items: center;
            border: solid 5px #fff;
			.input-field {
				margin-right: 30px;
				height: 50px;
				input {
					height: 100%;
					background: #fff;
					border-radius: 5px;
					border: 0;
					display: block;
					width: 100%;
					padding: 10px 32px;
					font-size: 20px;
					&:-moz-placeholder {
						color: #9a9a9a;
						font-size: 20px;
					}
					&::-webkit-input-placeholder {
						color: #9a9a9a;
						font-size: 20px;
					}
					&:hover {
						box-shadow: none;
						outline: 0;
					}
					&:focus {
						box-shadow: none;
						outline: 0;
					}
				}
				input.placeholder {
					color: #9a9a9a;
					font-size: 20px;
				}
			}
			// .input-field.first-wrap {
			// 	-ms-flex-positive: 1;
			// 	flex-grow: 1;
			// }
			.input-field.second-wrap {
				// width: 25%;
				// min-width: 180px;
                -ms-flex-positive: 1;
				flex-grow: 1;
			}
			.input-field.third-wrap {
				width: 120px;
				margin-right: 0;
				.btn-search {
					height: 100%;
					width: 100%;
					background: $green;
					white-space: nowrap;
					border-radius: 5px;
					font-size: 20px;
					color: #fff;
					transition: all .2s ease-out, color .2s ease-out;
					border: 0;
					cursor: pointer;
					&:hover {
						background: $yellow;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 992px) {
	.s01 {
		form {
			legend {
				font-size: 50px;
				text-align: center;
				margin-bottom: 50px;
			}
			.inner-form {
				padding: 30px 35px;
				.input-field {
					height: 50px;
				}
			}
		}
	}
}
@media screen and (max-width: 767px) {
	.s01 {
		form {
			legend {
				font-size: 40px;
				margin-bottom: 40px;
			}
			.inner-form {
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				padding: 20px;
				.input-field {
					margin-right: 0;
					input {
						padding: 5px 15px;
						font-size: 16px;
					}
				}
				.input-field.first-wrap {
					width: 100%;
					margin-bottom: 20px;
				}
				.input-field.second-wrap {
					width: calc(50% - 10px);
					min-width: auto;
				}
				.input-field.third-wrap {
					width: calc(50% - 10px);
					.btn-search {
						font-size: 16px;
					}
				}
			}
		}
	}
}